.daftar
{
position:absolute;
background-color:#ffffff;
height:1024px;
width:1440px;
padding:0px;
}
.kelor21
{
height:1024px;
width:724px;
left:1460px;
top:513px;
position:absolute;
}
.frame1
{
background-color:rgba(192, 196, 163, 0.4000000059604645);
height:1035px;
width:741px;
padding:0px;
left:716px;
position:relative;
}
.daftar2
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:64px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
left:255px;
top:214px;
position:absolute;
width:197px;
}

.sudahpunyaakun
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:251px;
top:699px;
width:184px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.masuk
{
color:#373dce;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:323px;
top:737px;
width:65px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame2
{
background-color:#e6e8da;
height:59px;
width:483px;
border-radius:5px;
padding:0px;
left:112px;
top:335px;
position:relative;
}
.email
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:18px;
left:13px;
position:absolute;
width:51px;
}
.frame4
{
background-color:#e6e8da;
height:59px;
width:483px;
border-radius:5px;
padding:0px;
left:112px;
top:509px;
position:relative;
}
.re-password
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:18px;
left:13px;
position:absolute;
width:126px;
}
.frame5
{
background-color:#7ba644;
height:59px;
width:483px;
border-radius:5px;
padding:0px;
left:112px;
top:596px;
position:relative;
}
.daftar3
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:18px;
left:203px;
position:absolute;
width:81px;
}
.frame3
{
background-color:#e6e8da;
height:59px;
width:483px;
border-radius:5px;
padding:0px;
left:112px;
top:422px;
position:relative;
}
.password2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:18px;
left:12px;
position:absolute;
width:93px;
}